/* Dark theme colors */

:root {
    --color1: #27272e;
    --color2: #22222b;
    --color3: #54545e;
    --color4: #79799a;
    --color5: #ffffff;
    --color6: #707070;
    --color7: #e3e3f3;
    --color8: #b4b4c5;
    --color9: #1f1f26;
    --color10: #434350;
    --color11: #9191b2;
    --color12: #101014;
    --color13: #393943;
    --color14: #2e2e34;
    --color15: #4f4f9f;
    --color16: #bb4848;
    --color17: #82828f;
    --color18: #393984;
    --color19: #f2f2fd;
}

/* Light theme colors */

body.light-theme {
    --color1: #D4D4DF;
    --color2: #BDBDCE;
    --color3: #8C8CA8;
    --color4: #A3A3B8;
    --color5: #363653;
    --color7: #585882;
    --color8: #555571;
    --color9: #e4e4f3;
    --color10: #D9D9EC;
    --color12: #F8F8FF;
    --color13: #D8D8EE;
    --color14: #E6E6F3;
    --color17: #9898A1;
}

body.light-theme .gallery .item .title {
    background-color: rgba(150, 150, 168, .8);
    color: var(--color5);
    text-shadow: 1px 2px 3px rgba(255, 255, 255, .3);
}

body.light-theme .contact button {
    color: var(--color19);
}

body.light-theme .location small {
    color: var(--color7);
}

body.light-theme .clock .m {
    color: var(--color3);
}

body.light-theme .social a {
    color: var(--color4);
}

/* Dark(default) theme */

body {
    background-color: var(--color12);
    font-family: 'Poppins', sans-serif;
    color: var(--color8);
    font-size: 15px;
    margin: 0;
}

.wrapper {
    padding: 0 195px;
}

/* Menu displayed on every page */

.menu {
    display: flex;
    align-items: center;
    background-color: var(--color1);
    border-radius: 10px;
    padding-left: 0;
    margin: 50px 0;
}

.menu > i {
    display: inline-block;
    background-color: var(--color2);
    border-radius: 8px 0 0 8px;
    padding: 17px;
    color: var(--color3);
}

.menu > a {
    display: inline-block;
    padding: 12px 6px;
    text-decoration: none;
    color: var(--color4);
    font-weight: 600;
}

.menu > a:first-of-type {
    margin-left: 6px;
}

.menu > a.active {
    color: var(--color7);
}

/* Toggle button for dark/light mode */

.theme-toggle {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10px 0 auto;
    width: 56px;
    height: 30px;
    font-size: 13px;
    color: var(--color4);
    border-radius: 6px;
    background-color: var(--color9);
    cursor: pointer;
}

.theme-toggle .active {
    color: var(--color7);
}

/* About data from index page */

.about {
    display: flex;
    align-items: center;
    margin-bottom: 95px;
}

/* Profile image from index page */

.photo {
    background-image: url('profile.jpg');
    background-size: cover;
    width: 128px;
    height: 128px;
    border-radius: 40px;
    margin-right: 18px;
}

/* Description from index page */

.brief {
    flex: 1;
    max-width: 520px;
}

.brief h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--color7);
}

/* Todo list + weather app + clock app */

.things {
    display: flex;
}

.things > div {
    margin-right: 15px;
}

.block {
    background-color: var(--color2);
    border-radius: 10px;
    align-self: flex-start;
}

.block .main {
    padding: 15px;
}

.block header {
    display: flex;
    padding: 15px 15px 0 15px;
}

.block h4 {
    background-color: var(--color10);
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    border-radius: 8px;
    margin: 0;
    flex: 1;
}

/* Todo list */

.todo {
    flex: 6;
}

.todo h4 {
    max-width: 200px;
}

/* Todo add and clear button */

.todo button {
    margin-left: auto;
    color: var(--color16);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: background-color .2s ease-out;
    cursor: pointer;
    padding: 0 10px;
    height: 34px;
    line-height: 34px;
    font-size: 15px;
    font-weight: 600;
}

#todoClear:disabled {
    display: none;
}

.todo button:hover {
    background-color: var(--color16);
    color: white;
}

/* Text area of the todo list */

#todoForm textarea {
    background-color: var(--color13);
    width: 100%;
    border-radius: 8px 8px 0 0;
    border: 0;
    height: 96px;
    resize: none;
    color: inherit;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
}

#todoForm footer {
    display: flex;
    height: 34px;
    align-items: center;
    padding-left: 15px;
    background-color: var(--color14);
    border-radius: 0 0 8px 8px;
    margin-top: -6px; 
}

/* Add item button */

#todoForm button {
    margin-left: auto;
    background-color: transparent;
    border-radius: 0 0 8px 0;
    padding: 0 20px;
    color: var(--color5);
}

#todoForm button:hover {
    background-color: var(--color15);
    color: var(--color19);
}

/* Todo list of items added */

.todoItem {
    display: flex;
    align-items: center;
    background-color: var(--color13);
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
}

.todoItem > input {
    margin-left: auto;
}

/* Word cout for the form */

.wordCount {
    font-size: 13px;
    color: var(--color17);
    font-style: italic;
}

/* Weather app */

.weather {
    flex: 2;
}

.weather .main {
    display: grid;
    grid-template-columns: 40% 60%;
}

/* Weather app icon */

.weatherIcon {
    display: flex;
}

.weatherIcon > img {
    width: 67px;
    height: 67px;
    margin: 0 auto;
}

/* Temperature details for weather app */

.temp {
    font-weight: 600;
}

.degrees {
    font-size: 42px;
    line-height: 42px;
}

.degrees-n {
    color: var(--color7);
}

.degrees-s {
    color: var(--color11);
}

.temp .text {
    font-size: 20px;
    color: var(--color11);
    line-height: 24px;
}

/* Location service for the weather app */

.location {
    margin-top: 15px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.location h5 {
    margin: 0;
    font-size: 23px;
    line-height: 23px;
}

.location small {
    font-size: 13px;
    line-height: 13px;
    color: var(--color4);
    font-style: italic;
}

/* Clock app */

.clock {
    min-width: 180px;
    flex: 1;
    margin-right: 0;
}

.clock .main {
    display: grid;
    grid-template-columns: 50% 50%;
}

.clock .h {
    font-size: 100px;
    line-height: 100px;
    color: var(--color7);
}

.clock .m {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: var(--color4);
    margin-top: -13px;
}

.clock .AP,
.clock .M {
    font-size: 70px;
    line-height: 70px;
    font-weight: 700;
    color: var(--color12)
}

.clock .AP {
    transform: translate(12px, 5px);
}

.clock .M {
    transform: translate(12px, 5px);
    margin-top: -41px;
}

.wrapper > footer { 
    margin: 25px 0;
}

/* Social profile's icons */

.social {
    display: flex;
    justify-content: center;
}

.social a {
    padding: 10px;
    text-decoration: none;
    color: var(--color13);
    transition: color .2s ease-out;
}

.social a:hover {
    color: var(--color4);
}

/* Portfolio gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 420px, 1fr ));
    gap: 75px 125px;
}

.gallery .item {
    display: flex;
    align-items: flex-end;
    height: 280px;
    border-radius: 10px;
    padding: 15px 22px;
    background-size: cover;
    background-position: center;
}

/* Title of each item in the gallery */

.gallery .item .title {
    background-color: rgba(67, 67, 80, .8);
    padding: 10px 13px;
    color: var(--color7);
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    max-width: 75%;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.title a {
    padding: 12px 6px;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

/* Contact form */

.contact {
    flex: 6;
    align-self: flex-start;
    padding: 15px;
    box-sizing: border-box;
    height: 208px;
}

.contact form {
    display: flex;
    height: 100%;
}

.contact .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 245px;
}

.contact input,
.contact button,
.contact textarea {
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
    border-radius: 10px;
    font-size: 13px;
    border: 0;
    color: var(--color7);
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.contact input::placeholder,
.contact textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    color: var(--color11);
}

.contact input,
.contact textarea {
    background-color: var(--color10);
}

.contact input[name="name"] {
    margin-bottom: 10px;
}

.contact textarea {
    resize: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.contact .right {
    margin-left: 15px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Contact form send button */

.contact button {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    margin-top: auto;
    background-color: var(--color15);
    font-weight: 600;
    transition: background-color .2s ease-out;
}

.contact button:hover {
    background-color: var(--color18);
}

/* CV */

.cv {
    display: flex;

}

/* About part of the CV page */

.cvAbout {
    display: flex;
    align-items: center;
    margin-bottom: 95px;
    flex-direction: column;
    max-width: 270px;
    box-sizing: border-box;
    margin-right: 50px;
    text-align: center;
}

.cvAbout h3 {
    color: var(--color7);
}

/* Profile image form CV page */

.cvPhoto {
    background-image: url('profile.jpg');
    background-size: cover;
    width: 128px;
    height: 128px;
    border-radius: 40px;
}

.cvAbout i {
    margin: 0 5px;
}

.cvAbout span {
    font-size: 13px;
    margin-top: 10px;
}

.cvAbout .social{
    margin: 25px 0;
}

/* CV data split on the page  */

.cvData {
    flex: 1;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
}

.cvData > div {
    width: 50%;
    font-size: 12px;
    height: auto;
    margin-bottom: 25px;
}

.cvData > div > ul {
    list-style: none;
    padding: 0 20px 0 10px;
}

/* Media queries */

@media only screen and (max-width: 1500px) {
    .wrapper {
        padding: 0 125px;
    }
}

@media only screen and (max-width: 1250px) {
    .wrapper {
        padding: 0 100px;
    }

    .things {
        flex-wrap: wrap;
    }

    .things > div {
        margin-bottom: 15px;
    }

    .weather {
        max-width: 360px;
    }

    .clock {
        max-width: 180px;
    }

    .contact {
        min-width: 100%;
    }
}

@media only screen and (max-width: 1080px) {    
    .todo {
        align-self: auto;
        min-width: 100%;
    }

    .cvData {
        flex-direction: column;
        align-content: center;
    }
    
    .cvData > div {
        width: auto;
    }
}

@media only screen and (max-width: 900px) {
    .about {
        flex-direction: column;
    }

    .wrapper {
        padding: 0 55px;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        padding: 0 15px;
    }

    .gallery .item .title {
        font-size: 16px;
    }
    
    .cv {
        flex-direction: column;
        align-items: center;
    }

    .cvData {
        align-self: center;
    }
}

@media only screen and (max-width: 600px) {
    .contact {
        height: auto;
    }

    .contact form {
        flex-direction: column;
        align-content: center;
    }

    .contact .left {
        align-self: center;
    }

    .contact .left button {
        margin: 10px 0;
    }
    
    .contact .right {
        margin: 10px;
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 470px) {

    .wrapper {
        padding: 0 8px;
    }

    .gallery {
        grid-template-columns: 100%;
    }

    menu > .fa-bars {
        display: none;
    }
}